<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>

<body>
    
    <nav>
        <div class="nav-bar">
       <a class="nav-one" href="/meal-planner/weekly-meals">All Meals </a> 
       <img src="https://i.imgur.com/QTaaQyZ.png?1" alt="">
       <a class="nav-two" href="/meal-planner/weekly-meals/new"> Add a New Meal</a>
       </div>
    </nav>
<div></div>
    <div class="show-btn">
        <a href="/meal-planner/weekly-meals/<%= meals._id %>/edit  "> <button> Edit <%= meals.name %></button></a>
    
        <form action="/meal-planner/weekly-meals/<%= meals.id %>?_method=DELETE" method="POST">
            <input class="button" type="submit" value="DELETE" />
    </div>

    <div class="route-page">

    <h1 class="show-title"><%= meals.name %> </h1>
<div class="top">
    <div class="show-div">
        <a class="titles">Date: </a> <br>
        <span class="text">  <%= meals.day %> </span>
    </div>

   <div class="show-div">
        <a class="titles">Time to Cook: </a> <br>
     <span class="text"> <%= meals.time %> </span>
    </div>
</div>
    <div class="show-div">
        <a class="titles">Description: </a> <br>
        <span class="text">  <%= meals.description %> </span>
    </div>
    
   

    <div class="show-div">
        <a class="titles">Ingredients: </a> <br>
        <span class="text">  <%= meals.ingredients[0] %> <br>
        <%= meals.ingredients[1] %> <br>
        <%= meals.ingredients[2] %> <br>
        <%= meals.ingredients[3] %> <br>
        <%= meals.ingredients[4] %> <br>
        <%= meals.ingredients[5] %> <br>
        <%= meals.ingredients[6] %>
      
    </span>
        </div>
    </div>
    </div>
</body>
</html>
